<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Ordinary CAMERA permission only: no SYSTEM_CAMERA, no storage permission (MediaStore saves own files), no location. RECORD_AUDIO is optional. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Microphone is only for video sound; denying it records silent video. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.camera.any" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <queries>
        <intent><action android:name="android.intent.action.VIEW" /><data android:mimeType="image/*" /></intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_sable_camera"
        android:roundIcon="@mipmap/ic_sable_camera_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|smallestScreenSize|screenLayout|uiMode"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
