<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <queries>
        <provider android:authorities="org.sableos.appearance" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_sable_weather"
        android:roundIcon="@mipmap/ic_sable_weather_round"
        android:label="Sable Weather"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".WeatherSnapshotProvider"
            android:authorities="org.sableos.weather.snapshot"
            android:exported="true"
            android:grantUriPermissions="false" />
    </application>
</manifest>
